ul.notifications {
    max-width: 20rem;
    margin: 0;
    right: 1rem;
}

li.notification {
    font-size: 0.8rem;
    line-height: 1rem;
    background: rgba(0, 0, 0, 0.7) !important;
    box-shadow: rgba(0, 0, 0, 0.15) 0 0 3px 0;
    border-radius: 3px;
    color: #fff;
    margin-bottom: 4px;
    padding: .5rem;
    padding-left: 3rem;
    position: relative;
    width: 100%;
    @include transition(box-shadow .2s);
    @include animation(zoomOut .2s linear);

    .closeButton {
        right: 5px !important;
    }

    &:hover {
        box-shadow: rgba(0, 0, 0, 0.5) 0 0 6px 0;
    }

    &:before {
        content: "";
        display: block;
        position: absolute;
        left: 0.6rem;
        top: 50%;
        height: 1.8rem;
        width: 1.8rem;
        border-radius: 50%;
        border: 2px solid;
        border-right-color: #fff;
        border-left-color: transparent;
        border-top-color: transparent;
        border-bottom-color: #fff;
        @include animation(notification-loading 2s infinite linear);
    }
}

@include keyframes(notification-loading) {
    0% {
        @include transform(translate(0, -50%) rotate(0deg));
    }
    100% {
        @include transform(translate(0, -50%) rotate(360deg));
    }
}
