ul.notifications {
  max-width: 20rem;
  margin: 0;
  right: 1rem;
}

li.notification {
  border-radius: 0;
  background-color: $color-primary !important;

  .title {
    font-weight: 200 !important;
  }

  .message {
    color: rgba(255, 255, 255, 0.75);
    font-size: 10pt;
  }
}
