$color-primary:    #000;
$color-background: #fff;
$color-selection:  #0ca;

$width-tablet:     "(max-width: 70rem)";
$width-phone:      "(max-width: 40rem)";

$font-default:     "Source Sans Pro" ,"Helvetica Neue", Helvetica, Arial, sans-serif;
