* {
	&, &:before, &:after {
		@include box-sizing(border-box);
	}
}

body {
	margin: 0;
	padding: 0;
	background-color: #eee;
	min-height: 100vh;

	@include display(flex);
	@include flex-direction(column);
}

main {
	background-color: #fff;
	overflow: auto;
	min-height: 100vh;

	@include display(flex);
	@include flex-direction(column);
	@include flex(1);
}

@include selection {
    background-color: rgba($color-primary, 0.5);
}

nav {
	margin-bottom: 2rem;
	text-align: center;

	a {
		margin: 0 1rem;
	}
}
